# git ignore file for configs
#
*.Identifier
*Zone.Identifier
# Created by https://www.toptal.com/developers/gitignore/api/zsh
# Edit at https://www.toptal.com/developers/gitignore?templates=zsh

### Zsh ###
# Zsh compiled script + zrecompile backup
*.zwc
*.zwc.old

# Zsh completion-optimization dumpfile
*zcompdump*

# Zsh history
.zhistfile

# Zsh sessions
.zsh_sessions
.zsh_history

# Zsh zcalc history
.zcalc_history

robbyrussell/oh-my-zsh/plugins/per-directory-history plugin's files
# (when set-up to store the history in the local directory)
.directory_history

# MichaelAquilina/zsh-autoswitch-virtualenv plugin's files
# (for Zsh plugins using Python)
.venv/

# Zunit tests' output
/tests/_output/*
!/tests/_output/.gitkeep

# End of https://www.toptal.com/developers/gitignore/api/zsh
#
# Theme files, ignore
*.tmTheme
*.xcolors
*.Xresources
*.dircolors
delta/**
*.tokyonight
*.twilight
*.bak2
*.bak
*.bak1

# Ignore syntax files.
*.tmLanguages
*.tmLanguage

# ignore env
.env.local
.env
.envrc

# token info in gh
gh/hosts.yml

## nvim has its own repository
nvim/**

# ignore telemetry directory and all subdirectories
**/telemetry/**
lazygit/**
! lazygit/config.yml
**/projects.yazi/
*.yazi
zsh/plugins/**
**/zsh-autoswitch-virtualenv/**
**/zsh-history-substring-search/**
**/zsh-z/
delta_completions.zsh
**/zsh-modern-theme/
zsh/prompts
zsh/lib/**
zsh/modules/**
zsh/aliases.old
micro/plug/**
yazi/flavors/**


tmuxifier.tmux
tmuxinator/**

lnav/formats/defaults/**
lnav/configs/default/**
lnav/log_metadata.db
lnav/view-info-1a6c07126a1fdaafdd6aa83c141a8b4f.ts1775867297.ppid199.json

.asdf/**

.tmuxifier/**
! .tmuxifier/layouts/

ulauncher/user-themes/**

nvm/**
! Dockerfile

